@model User
@{
    ViewData["Title"] = "CreateUser";
}

<h1>CreateUser</h1>
<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
    <span asp-validation-for="Name" class="text-danger"></span>  

    </div>  <div class="mb-3">
        <label asp-for="IsEmailConfirmed" class="form-label">IsEmailConfirmed</label>
        <input asp-for="IsEmailConfirmed" type="text" class="form-control">
    <span asp-validation-for="IsEmailConfirmed" class="text-danger"></span>  

    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email address</label>
        <input asp-for="Email" type="email" class="form-control">
    <span asp-validation-for="Email" class="text-danger"></span>  

    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="text" class="form-control">
    <span asp-validation-for="Password" class="text-danger"></span>  

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

